[submodule "external/putki"]
	path = external/putki
	url = https://github.com/raxptor/putki
[submodule "external/ccg-ui"]
	path = external/ccg-ui
	url = https://github.com/raxptor/ccg-ui.git
[submodule "external/squirrel-lang"]
	path = external/squirrel-lang
	url = https://github.com/pfalcon/squirrel-lang
[submodule "putki"]
	path = putki
	url = https://github.com/raxptor/putki
[submodule "ccg-ui"]
	path = ccg-ui
	url = https://github.com/raxptor/ccg-ui
[submodule "kosmos"]
	path = kosmos
	url = https://github.com/raxptor/kosmos
[submodule "ext/putki"]
	path = ext/putki
	url = https://github.com/raxptor/putki
[submodule "ext/ccg-ui"]
	path = ext/ccg-ui
	url = https://github.com/raxptor/ccg-ui
[submodule "ext/kosmos"]
	path = ext/kosmos
	url = https://github.com/raxptor/kosmos
[submodule "squirrel-lang"]
	path = squirrel-lang
	url = https://github.com/pfalcon/squirrel-lang
